.calendBackground{
    width:100%;
    height: 92.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/blue-lines-office.png') ;
    background-position: right top;
    background-size: cover;
}

.display-task-modal-span{
    color: #0F61D4;
    font-weight: bold;
}

.btn-circle-green {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857;
    background-color: #49AC52;
    border: none;
}

.btn-circle-yellow {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857;
    background-color: #FAF784;
    /* background-color: #0F61D4; */
    color: black;
    border: none;
}

.btn-circle-red {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857;
    background-color: #fa8884;
    color: black;
    border: none;
}

.edit-btn{
    border-radius: 5px;
    border: none;
    background-color: #0F61D4;
    color: white;
    padding: 5px 10px;
    margin: 5px 10px;
}

.edit-task-input{
    width: 100%;
    border: transparent;
}

.edit-task-time{
    border: transparent;
    width: 5%;
}

.edit-task-american-format{
    border: transparent;
    width: 8%;
}

.edit-task-input-title{
    width: 100%;
    border: transparent;
    color: #0F61D4;
    font-weight: bold;
    font-size: large;
}