.logoimg{
    margin-top: 40px;
    margin-left: 50px;
    width: 170px;
    height: 40px;
}

.logoDivTeam{
   display: flex;
   margin-top: 220px;
   align-self: baseline;
}

.topChildren{
    display: flex;
    flex-direction: column;
}

.sidebar-div{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    height: 100vh;
    width: 20vw;
    flex-basis: auto;
    /* justify-content: space-evenly; */
    background-color: #0A2659;
}


.sideBarManager{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    height: 100vh;
    width: 20vw;
    flex-basis: auto;
    justify-content: center;
    /* align-items: center; */
    /* background-color: #1ABC9C; */
    background-color: #2C3E50;
}


.managerViewDiv{
    margin-top: 27px;
    /* background-color: #2C3E50; */
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 1px white solid;
}

.memberViewDiv{
    margin-top: 60px;
    /* background-color: #0F61D4; */
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 1px white solid;
}


.profile-info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;

}


.profileInfoManager{
    margin-top: 20px;
    /* margin-top: 40px; */
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
    align-items: center;
}

.create-project-btn{
    margin-top: 10px;
    
}

.ManagedMembers{
    margin-top: 20px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
}


.addProjBtn{
    background-color: #2C3E50;
    width: 100%;
    height: 40px;
    color: white;
    border-color: white;
    border: 1px solid;
    font-weight: bold;
}

.addProjBtn:hover{
    color: #2C3E50;
    background-color: white;
    border-color: white;
}