/* MANAGER VIEW */

.calendar-div-manager{
    width: 70vw;
    height: 90vh;
    border: 2px solid #1ABC9C;
    overflow: auto;
    display: inline-block;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
}

.sideBarManager{
    display: flex;
    /* position: relative; */
    flex-direction: column;
    align-self: stretch;
    height: 100vh;
    width: 20vw;
    flex-basis: auto;
    background-color: #1ABC9C;
}

.nav-link {
    color: #2C3E50;
}

.nav-link:hover{
    color: white;
}

.navManager{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-basis: auto;
    width: 80vw;
    height: 60px;
    background: #1ABC9C;
    padding-right: 10px;
    z-index: 1;
    font-weight: bold;
}

.profileInfoManager{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
}

.managerView-div{
    margin-top: 30px;
    margin-left:20px;
    color: #0E6251;
}

/* TEAM MEMBER VIEW */

.container-div-dashboard{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    /* position: absolute; */
  }

  .sub-container-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.sidebar-div{
    display: flex;
    /* position: relative; */
    flex-direction: column;
    align-self: stretch;
    height: 100vh;
    width: 20vw;
    flex-basis: auto;
    background-color: #8FD5FF
}



.calendar-div-container{
    width: 70vw;
    height: 90vh;
    border: 2px solid #8FD5FF;
    overflow: auto;
    display: inline-block;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
    /* z-index: 1; */
}



.project-container-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
}

#project-card-title{
    color:  #0F61D4
}

#project-card-title:hover{
    cursor: pointer;
}

.navbarT {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 0;
    width: 80vw;
    height: 60px;
    background: #8FD5FF;
    padding-right: 10px;
    z-index: 1; 
    font-weight: bold;
}


.menu{
    color: #0F61D3;
    margin: 10px;
    padding: 5px;
    /* border-radius: 5px, #0F61D3; */
}


/* SIDEBAR */
.profile-info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #0F61D4;
}



.create-project-btn{
    margin-top: 10px;
    margin-left: 20px;
}

.manager-team-member-view-div{
    margin-top: 30px;
    margin-left:20px;
    color: #0F61D3;
}

.managed-members-circle{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857;
    margin-right: 10px;
}


.legenda-mini-div{
    display: flex;
}


.employee-task-modal-manager{
    font-weight: bold;
}



.notification{
  margin-right: 10px;
  z-index: 100000 !important;
}


.fc .fc-button-group{
    z-index: 0;
    
}


.fc .fc-daygrid-day-top .fc-daygrid-day-number {
    z-index: 0;
}

.fc .fc-scroller-harness{
    z-index: 0;
}

.notification{
 max-height: 70%;
 overflow: auto;
}

.dropdownNotifications{
    z-index: 100000 !important;
    background-color: white;
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: row;
}


.btn-notif-unread{
    width: 5px;
    height: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.42857;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
    background-color: #0F61D3;
}

.notifMessage{
    margin-bottom: 0mm;
}

.timestamp{
    font-size: smaller;
}


.unReadNotif{
    color: #0F61D3;
    font-weight: bold;
}

.readNotif{
    color: black;
    opacity: 0.5;
    font-size: small;
}

.afaBell{
    color: #2C3E50;
}

.afaBell:hover{
    color: white;
}