.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    border: 1 px solid maroon;
    position:fixed;
    z-index: 1;
}

.settings-img{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: flex-end;
    border-radius: 50%;
    overflow: hidden;
}

.settings-div{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: flex-end;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.navbar-links{
    color: black;
}

.navbar-links:hover{
    cursor: pointer;
    color: #F16451;
    font-weight: bold;
}