#dropdown-create-task{
    border: 1px #0F61D4 solid;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #0F61D4
}

button.btn-light {
    background-color: #0F61D4;
    border-color: #0F61D4;
    color: white;
    font-size: medium;
}

button.btn-light:hover{
    color:#0F61D4;
    background-color: white;
}

.btn-sm{
    width: 100%;
    height: 50px;
}