.home-div{
    padding: 20px;
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-div::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background: url('../images/blue-lines-office.png') center;
    opacity: 1;
}


.login-btn{
    color: #0A2659;
    border: 1px #0A2659;
    justify-self: center;
    width: 80px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.login-btn:hover{
    background-color: #0A2659;
    color: white;
}

h1{
    color: #0F61D3;
}

.home-content{
    background-color: white;
    padding: 20px;
    height: 380px;
    width: 430px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    border: 2px #0A2659 solid;
}

.homeLogo{
    height: 100px;
    width: 400px;
    margin-bottom: 70px;
}
